@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <style>
        table, th, td { border: 1px solid black; }
    </style>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/home/indexApp.js"></script>
    <script src="~/js/home/indexController.js"></script>
</head>
<body ng-app="indexApp" ng-controller="indexController as indexCtrl">
<span ng-bind="indexCtrl.firstName"></span>, <span ng-bind="indexCtrl.lastName"></span>
<br/>
<span ng-bind="indexCtrl.fullName()"></span>
<div>
    <input type="text" ng-model="indexCtrl.firstName"/>
    <input type="text" ng-model="indexCtrl.lastName"/>
</div>
<input type="button" value="按下去" ng-click="indexCtrl.showFullName()"/>
<table>
    <thead>
    <tr>
        <th>姓</th>
        <th>名</th>
        <th>年齡</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in indexCtrl.users">
        <td ng-bind="user.lastName"></td>
        <td ng-bind="user.firstName"></td>
        <td ng-bind="user.age | number:2"></td>
    </tr>
    </tbody>
</table>
<input type="button" value="加一點人" ng-click="indexCtrl.getMoreUsers()"/>
<br/>
<input type="date" ng-model="indexCtrl.birthday"/><span ng-bind="indexCtrl.birthday | date:'yyyy-MM/dd'"></span>
</body>
</html>